/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;800&display=swap");

/* Tailwind & DaisyUI */
@import "tailwindcss";
@plugin "daisyui";

/* Apply font to the whole body */
body {
  font-family: "Nunito", sans-serif;
}
